<h1>Curiosité #<%= @curiosity.id %></h1>

<div class="ontainer">
	<div class="col-sm-3">
		<div class="item">
			<a href="<%= @curiosity.image.url %>" target="_blank"></img>
			</a>
		</div>
		<h3><%= @curiosity.name %></h3>
		<p><%= @curiosity.description %></p>
	</div>
</div>
